[Desktop Entry]
Name=turtl-ut
Comment=Take notes, bookmark websites, and store documents for sensitive projects
Exec=webapp-container --app-id="turtl-ut.cibersheep" $@ www/index.html
Terminal=false
Type=Application
Categories=Utility;TextTools
X-Ubuntu-Touch=true
Icon=./icon.svg
X-Ubuntu-Splash-Color=#141414
X-Ubuntu-Splash-Image=./splash.svg
